@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 0% 10%;
    --foreground: 0 0% 97%;

    --card: 0 0% 18%;
    --card-foreground: 0 0% 97%;

    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 97%;

    --primary: 177 70% 55%;
    --primary-foreground: 0 0% 97%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 97%;

    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 61%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 97%;

    --destructive: 351 100% 39%;
    --destructive-foreground: 0 0% 97%;

    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 351 100% 39%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
